body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.index {
    background-image: url('../img/index-page-main-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.catalog {
    background-image: url('../img/catalog-page-main-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}   

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation {
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.link, .link:visited {
    color: #000000;
}

.link:hover,
.link:focus {
    color: #81b3d2;
}

.link:active {
    color: rgba(0, 0, 0, 0.3);
}

.mask {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.features {
    background-color: #ffffff;
}

.feature-item, 
.features p {
    text-align: center;
}

.features h1 {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.index-columns {
    background-color: #81b3d2;
    color: #ffffff;
}

.index-columns-text {
    font-size: 21px;
    line-height: 1;
    font-weight: 700;
}

.index-columns-row {
    background-color: #eeeeee;
}

.index-columns-row-text {
    color: #000000;
}

.appointment {
    background-color: #ffffff;
}

.appointment-text {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.appointment-info {
    color: #333333;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
} 

.open-form {
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

.open-form:hover {
    background-color: #604e43;
}

.open-form:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.date {
    border: none;
}

.quantity {
    border: none;
}

.appointment-field {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.appointment-field:hover {
    background-color: #ebebeb;
}

.appointment-field:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}

.button-calendar {
    font-size: 20px;
    font-weight: 700;
    fill: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.button-calendar:hover {
    fill:#000000;
}

.button-calendar:active {
    fill:#81b3d2;
}

.button-setup {
    font-size: 20px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.button-setup:hover {
    color: #000000;
}

.button-setup:active {
    color: #81b3d2;
}

.button-search {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.button-search:hover {
    background-color: #669ec0;
}

.button-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.footer-contacts {
    color: #000000;
}

.footer-contacts a {
    color: inherit;
}

.social-link {
    background-color: #81b3d2;
}

.social-link:hover {
    background-color: #669ec0;
}

.social-link:active {
    background-color: #5496bd;
    
}

.social-link:active .social-icon {
    opacity: 0.3;
}

.footer-copyright {
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
}

.footer-copyright:hover {
    color: #81b3d2;
}

.footer-copyright:active {
    color: #000000;
}

.footer-copyright svg {
    fill: #231f20;
    width: 115px;
    height: 41px;
}

.footer-copyright:hover svg {
    fill: #81b3d2;
}

.footer-copyright:active svg {
    fill: #bdbbbc;
}