body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.main-footer {
    background-color: #ffffff;
}

.index {
    background-image: url('../img/index-page-main-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.catalog {
    background-image: url('../img/catalog-page-main-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}   

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation {
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.link, .link:visited {
    color: #000000;
}

.link:hover,
.link:focus {
    color: #81b3d2;
}

.link:active {
    color: rgba(0, 0, 0, 0.3);
}

.active-link-navigation {
    color: #766357;
}

.mask {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.features {
    background-color: #ffffff;
}

.feature-item, 
.features p {
    text-align: center;
}

.features h1 {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.index-columns {
    background-color: #81b3d2;
    color: #ffffff;
}

.index-columns-text {
    font-size: 21px;
    line-height: 1;
    font-weight: 700;
}

.index-columns-row {
    background-color: #eeeeee;
}

.index-columns-row-text {
    color: #000000;
}

.appointment {
    background-color: #ffffff;
}

.appointment-text {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.appointment-info {
    color: #333333;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
} 

.open-form {
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

.open-form:hover {
    background-color: #604e43;
}

.open-form:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.date {
    border: none;
}

.quantity {
    border: none;
}

.appointment-field {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.appointment-field:hover {
    background-color: #ebebeb;
}

.appointment-field:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}

.button-calendar {
    font-size: 20px;
    font-weight: 700;
    fill: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.button-calendar:hover {
    fill:#000000;
}

.button-calendar:active {
    fill:#81b3d2;
}

.button-setup {
    font-size: 20px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.button-setup:hover {
    color: #000000;
}

.button-setup:active {
    color: #81b3d2;
}

.button-search {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.button-search:hover {
    background-color: #669ec0;
}

.button-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.footer-contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.24;
    color: #000000;
}

.footer-contacts a {
    color: inherit;
}

.social-link {
    background-color: #81b3d2;
}

.social-link:hover {
    background-color: #669ec0;
}

.social-link:active {
    background-color: #5496bd;
    
}

.social-link:active .social-icon {
    opacity: 0.3;
}

.footer-copyright {
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
}

.footer-copyright:hover {
    color: #81b3d2;
}

.footer-copyright:active {
    color: #000000;
}

.footer-copyright svg {
    fill: #231f20;
    width: 115px;
    height: 41px;
}

.footer-copyright:hover svg {
    fill: #81b3d2;
}

.footer-copyright:active svg {
    fill: #bdbbbc;
}

/*Стили для внутренней страницы*/

.checkbox-form,
.range-form {
    border: 0;
}

.legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    text-align: left;
    color: #ffffff;
}

.checkbox-wrapper {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
    padding-left: 40px;
}

.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox:not(checked) + .checkbox-icon,
.checkbox:checked + .checkbox-icon {
    padding-left: 38px;
    cursor: pointer;
}

.checkbox:not(checked) + .checkbox-icon::before {
    background: url("../img/checkbox-off.svg") no-repeat;
    content: '';
    position: absolute;
    margin-left: -40px;
    width: 27px;
    height: 23px;
}

.checkbox:checked + .checkbox-icon::before {
    background: url("../img/checkbox-on.svg") no-repeat;
    content: '';
    position: absolute;
    margin-left: -40px;
    width: 27px;
    height: 23px;
}

.checkbox:focus + .checkbox-icon::before {
    outline: 1px solid rgb(77, 144, 254); 
}

.range-text-container {
    border: 2px solid #ffffff;
    border-radius: 3px;

}

.range-text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    color:#ffffff;
}

.left {
    border-right: 0;
}
.right {
    border-left: 0;
}

.button-filter {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;

}

.button-filter:hover {
    background-color: #ffffff;
    color:#000000;
}

.range-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width:32px;
    height:34px;
}

.range-button:hover {
    width:34px;
    height:36px;
}

.range{
    width: 317px;
    height: 2px;
    margin-left: 25px;
    background:linear-gradient(to right, #ffffff 0%, #ffffff 80%, rgba(255, 255, 255, 0.2), 80%, rgba(255, 255, 255, 0.2) 100%)
}

.range::-webkit-slider-thumb {
    -webkit-appearance: inherit;
    width:28px;
    height:30px;
    margin-top: 9px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 20 23'%3E%3Cpath opacity='.3' fill='%23ABABAB' d='M10 20C4.477 20 0 15.522 0 10v2c0 5.522 4.477 10 10 10 5.522 0 10-4.478 10-10v-2c0 5.522-4.478 10-10 10z'/%3E%3Ccircle fill='%23FFF' cx='10' cy='10' r='10'/%3E%3Ccircle fill='%23ABABAB' cx='10' cy='10' r='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat ;
}

.range::-webkit-slider-thumb:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='26' viewBox='0 0 20 23'%3E%3Cpath opacity='.3' fill='%23ABABAB' d='M10 20C4.477 20 0 15.522 0 10v2c0 5.522 4.477 10 10 10 5.522 0 10-4.478 10-10v-2c0 5.522-4.478 10-10 10z'/%3E%3Ccircle fill='%23FFF' cx='10' cy='10' r='10'/%3E%3Ccircle fill='%23ABABAB' cx='10' cy='10' r='2'/%3E%3C/svg%3E");
}
.bold {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.24;
    text-align: left;
    color: #000000;
}

.filter-field {
    background-color: #ffffff;
}

.filter {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
}

.filter-list {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #81b3d2;
}

.active {
    color: #81b3d2;
}

.no-active {
    border-bottom: 1px dotted #81b3d2;
    color:rgba(0, 0, 0, 0.3)
}

.no-active:hover {
    color: #81b3d2;
}

.no-active:active {
    color: #000000;
    border-bottom: none;
}

.arrow-up,
.arrow-down {
    fill: #cacaca;
}

.arrow-up:hover,
.arrow-down:hover {
    fill: #231F20;
}

.arrow-up:active,
.arrow-down:active {
    fill: #81b3d2;
}

.active-arrows {
    fill: #81b3d2;
}

.catalog-list {
    background-color: #ffffff;
}

.hotel-price {
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
    color: #333333;
}

.button-more {
    font-weight: 700;
    background-color: #81b3d2;
    color: #ffffff;
}

.button-more:hover {
    background-color: #669ec0;
}

.button-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-book {
    font-weight: 700;
    background-color: #766357;
    color: #ffffff;
}

.button-book:hover {
    background-color: #604e43;
}

.button-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
}
