body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}   

.index {
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

.mask {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.main-navigation {
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.features {
    background-color: #ffffff;
}

.list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.feature-item, 
.features p {
    text-align: center;
}

.features h1 {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.index-columns {
    background-color: #81b3d2;
    color: #ffffff;
}

.index-columns h2 {
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
}

.index-columns-row {
    background-color: #eeeeee;
}

.index-columns-row h2 {
    color: #000000;
    font-size: 21px;
    line-height: 1;
}

.appointment {
    background-color: #ffffff;
}

.appointment p {
    color: #000000;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.appointment .appointment-info {
    color: #333333;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
} 

.open-form {
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

.open-form:hover {
    background-color: #604e43;
}

.open-form:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.date {
    border: none;
}

.quantity {
    border: none;
}

.appointment-field {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.appointment-field:hover {
    background-color: #ebebeb;
}

.appointment-field:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}

.button-setup {
    font-size: 20px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
}

.button-setup:hover {
    color: #000000;
}

.button-setup:active {
    color: #81b3d2;
}

.button-search {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.button-search:hover {
    background-color: #669ec0;
}

.button-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.footer-contacts {
    color: #000000;
}

.footer-contacts a {
    color: #000000;
}

.footer-social {
    list-style: none;
}

.footer-social a {
    background-color: #81b3d2;
}

.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
    
}

.a-twitter:active .twitter {
    opacity: 0.3;
}

.a-facebook:active .facebook {
    opacity: 0.3;
}

.a-youtube:active .youtube {
    opacity: 0.3;
}

.footer-copyright {
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
}

.footer-copyright:hover {
    color: #81b3d2;
}

.footer-copyright:active {
    color: #000000;
}

.footer-copyright svg {
    fill: #231f20;
    width: 115px;
    height: 41px;
}

.footer-copyright:hover svg {
    fill: #81b3d2;
}

.footer-copyright:active svg {
    fill: #bdbbbc;
}